
 <div class="wrapper">
        <table id="acrylic">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Vin Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each vehicles}}
                <tr>
                    <td>{{make}}</td>
                    <td>{{model}}</td>
                    <td>{{year}}</td>
                    <td>{{vin}}</td>
                    <td><a href="/lending?car={{smartcar_id}}">Select</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
